//primary colours
$p-colour1: #333333; //dark grey
$p-colour2: #ed6a11; //orange
$p-colour3: #f5a621; //light orange

//secondary colours
$s-colour1: #ffdd03; //yellow
$s-colour2: #95c13c; //lime green
$s-colour3: #002f50; //navy blue
$s-colour4: #7b8500; //khaki green
$s-colour5: #3ec4e0; //light blue
$s-colour6: #207439; //censorREACT green
$s-colour7: #e5f0ce; //light green censoreREACT examples
$s-colour8: #cff0f7; //light blue censoreREACT examples

//greys
$grey1: #f6f6f6;
$grey2: #dddbd7;
$grey3: #b1b0af;
$grey4: #909090;
$grey5: #5b5b5b;

//censorREACT tier colours
$gold: $p-colour3;
$silver: #b1b0af;
$bronze: #cd7f32;

